# PostgreSQL
DB_NAME=totem_db
DB_USER=postgres
DB_PASSWORD=CAMBIAR_CONTRASEÑA_FUERTE
DB_HOST=db
DB_PORT=5432

# Django
SECRET_KEY=GENERAR_CLAVE_ALEATORIA_64_CHARS
DEBUG=False
PYTHONDONTWRITEBYTECODE=1
ALLOWED_HOSTS=tu-dominio.com,www.tu-dominio.com,localhost,127.0.0.1

# Frontend/Proxy
FRONTEND_PORT=80
VITE_API_URL=https://tu-dominio.com/api
