# Env files
.env
.env.local
.env.*.local
!.env.example
!.env.prod.example
!.env.development.example

# Python/Django
__pycache__/
*.py[cod]
*$py.class
staticfiles/
media/

# Node
node_modules/
dist/
build/

# System
.DS_Store
*.log
.vscode/
.idea/
